<template>

<ion-page>
	<ion-header>
		<ion-toolbar>
			<ion-title>Galeria de Fotos</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-content :fullscreen="true">
		<ion-header collapse="condense">
			<ion-toolbar>
				<ion-title size="large">Galeria Fotos</ion-title>
			</ion-toolbar>
		</ion-header>

		<ion-grid>
			<ion-row>
				<ion-col size="6" :key="foto" v-for="foto in fotos">
					<ion-img :src="foto.webviewPath"></ion-img>
				</ion-col>
			</ion-row>
		</ion-grid>

		<ion-fab vertical="bottom" horizontal="center" slot="fixed">
			<ion-fab-button @click="tirarFoto()">
				<ion-icon :icon="camera"></ion-icon>
			</ion-fab-button>
		</ion-fab>

	</ion-content>
</ion-page>

</template>

<script lang="ts">
	import { IonPage, IonHeader, IonFab, IonFabButton, IonIcon, IonToolbar, IonTitle, IonContent, IonGrid, IonRow, IonCol, IonImg } from '@ionic/vue';
	// Importações para camera
	import { camera, trash, close } from 'ionicons/icons';
	import { usarGaleriaFotos, FotoUsuario } from "@/composables/usarGaleriaFotos";


	export default  {
		name: 'Tab2',
		components: { IonPage, IonHeader, IonFab, IonFabButton, IonIcon, IonToolbar, IonTitle, IonContent},

		setup(){
			const { fotos, tirarFoto } = usarGaleriaFotos();

			return{
				fotos,
				tirarFoto,
				camera, trash, close
			}
		}
	}
</script>